/* Base */
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #494949;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
}
main {
  margin-bottom: 50px !important;
}
section {
  margin-bottom: 65px;
}
a {
  text-decoration: none;
  color: #494949;
}
a:hover {
  text-decoration: none;
}
h3 {
  font-size: 23px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
textarea:read-only {
  width: 100%;
  min-height: 240px;
  background-color: #dbdbdb;
  border: none;
  font-size: .9rem;
  line-height: 30px;
  padding: 10px;
}
.hide {
  display: none;
}
.col-4,
.col-12 {
  padding: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.btn-view-project {
  padding: 5px;
  font-size: .7rem;
  border: 1px solid #494949;
  border-radius: 3px;
  margin-top: 15px;
  display: inline-block;
}
.btn-view-project:hover {
  color: white;
  background-color: #494949;
  transition: .5s;
}
.l-container {
  width: 100%;
}
@media (min-width: 768px) {
  .l-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .l-container {
    min-width: 1000px;
    margin: 0 auto;
  }
}
.grid {
  margin-top: 50px;
}
@media (min-width: 576px) {
  .grid {
    margin-top: 60px;
  }
}
.navbar {
  height: 60px;
  background-color: white;
  color: #494949;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 0px 10px #dbdbdb;
}
.navbar .navbar-navigation {
  margin-top: 9px;
  float: right;
  display: none;
}
.navbar .navbar-navigation .navbar-navigation-list .navigation-list-items {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 0.9rem;
}
.navbar .navbar-navigation .navbar-navigation-list .navigation-list-items a {
  color: #494949;
}
.navbar .navbar-navigation .navbar-navigation-list .navigation-list-items:hover a {
  color: #7c5ead;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
@media (min-width: 992px) {
  .navbar .navbar-navigation {
    display: inline-block;
  }
}
.navbar .burger-menu {
  float: right;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 34px;
  padding: 4px 0 4px 15px;
  cursor: pointer;
  margin: 0 0 0 20px;
  border-radius: 6px;
  transition: .5s;
}
.navbar .burger-menu .burger-menu-bar {
  width: 100%;
  height: 3px;
  border-radius: 33%;
  display: block;
  margin: 4px 0 5px 0;
  background-color: #494949;
}
@media (min-width: 992px) {
  .navbar .burger-menu {
    display: none;
  }
}
.header {
  margin-top: 60px;
  height: 225px;
}
.header .header-content {
  width: 380px;
  margin: 0 auto;
  position: relative;
  color: #7f7f7f;
  text-align: center;
  top: 55px;
}
.header .header-content img {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
}
.header .header-content .slash-bar {
  width: 2px;
  height: 40px;
  display: none;
  background-color: #7f7f7f;
  transform: skew(-28deg);
  margin: 0 12px 0 13px;
}
@media (min-width: 685px) {
  .header .header-content .slash-bar {
    display: inline-block;
  }
}
.header .header-content h1 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  vertical-align: top;
  margin-top: 27px;
  color: #7f7f7f;
}
@media (min-width: 685px) {
  .header .header-content h1 {
    margin-top: 9px;
    font-size: 20px;
    display: inline-block;
  }
}
.header .header-content .header-buttons {
  margin-top: 11px;
}
.header .header-content .header-buttons a {
  display: inline-block;
  padding: 8px;
  color: white;
  font-size: 11px;
  border-radius: 4px;
  font-weight: 600;
}
.header .header-content .header-buttons .goto-escaip {
  background-color: #7c5ead;
  border: 1px solid transparent;
}
.header .header-content .header-buttons .goto-escaip:hover {
  color: #7c5ead;
  background-color: white;
  border: 1px solid #7c5ead;
  transition: .5s;
}
.header .header-content .header-buttons .see-escaip {
  background-color: #494949;
  border: 1px solid transparent;
}
.header .header-content .header-buttons .see-escaip:hover {
  color: #494949;
  background-color: white;
  border: 1px solid #494949;
  transition: .5s;
}
@media (min-width: 685px) {
  .header .header-content .header-buttons {
    margin-top: 20px;
  }
}
@media (min-width: 685px) {
  .header .header-content {
    width: 421px;
    top: 215px;
  }
}
@media (min-width: 685px) {
  .header {
    height: 500px;
  }
}
.project-header {
  overflow: hidden;
  width: 100%;
  height: 270px;
}
@media (min-width: 576px) {
  .project-header {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .project-header {
    height: 500px;
  }
}
.project-header .bg-image-container {
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -10px 20px white;
  padding: 15px 0px;
}
.footer .footer-container {
  padding: 0 10px;
}
.footer .footer-container .footer-logo {
  width: 100px;
}
.presentation {
  padding: 30px 10px 40px 10px;
}
@media (min-width: 576px) {
  .presentation {
    padding: 70px 10px;
    margin: 50px auto ;
  }
}
.presentation img {
  width: 27px;
  opacity: .5;
}
.presentation .guillement-right {
  transform: rotate(180deg);
  float: right;
}
.presentation .presentation-text {
  line-height: 22px;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  display: inline-block;
  padding: 20px;
}
@media (min-width: 576px) {
  .presentation .presentation-text {
    line-height: 32px;
    font-size: 24px;
  }
}
.project .project-title {
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 21px;
  font-size: 23px;
  font-weight: bold;
}
.project .project-items {
  padding: 15px;
  cursor: pointer;
}
.project .project-items .project-items-img {
  width: 100%;
}
.project .project-items .project-items-title {
  display: inline-block;
  font-size: 23px;
  color: #494949;
  z-index: 1;
}
@media (min-width: 576px) {
  .project .project-items .project-items-title {
    position: absolute;
    top: 155px;
    color: transparent;
    margin-left: 25px;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    padding-right: 0;
  }
}
@media (min-width: 576px) {
  .project .project-items .project-items-category {
    position: absolute;
    top: 170px;
    color: transparent;
    margin-left: 25px;
    padding-top: 3px;
    font-size: 14px;
  }
}
.project-items-popup {
  width: 420px;
  margin: 0 auto;
  background-color: white;
}
@media (min-width: 576px) {
  .project-items-popup {
    max-width: 440px;
    left: 28px;
  }
  .project-items-popup .cancel {
    position: relative !important;
    top: -273px !important;
    right: -421px !important;
  }
}
.project-items-popup .cancel {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  cursor: pointer;
  opacity: .4;
}
.project-items-popup .cancel:hover {
  opacity: 1;
  transition: .5s;
}
.project-items-popup .cancel .cancel-bar {
  width: 10px;
  height: 2px;
  background-color: white;
  display: inline-block;
  position: relative;
}
.project-items-popup .cancel .cancel-bar:first-child {
  transform: rotate(45deg);
  top: -5px;
  left: 3px;
}
.project-items-popup .cancel .cancel-bar:nth-child(2) {
  transform: rotate(-45deg);
  top: -21px;
  left: 3px;
}
.project-items-popup .popup-container .project-popup-infos {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.project-items-popup .popup-container .project-popup-infos .project-popup-title {
  display: inline-block;
  font-size: 1.2rem;
}
.project-items-popup .popup-container .project-popup-infos .project-popup-category {
  display: inline-block;
  font-size: .8rem;
}
@media (min-width: 576px) {
  .project-items-popup .popup-container .project-popup-infos {
    padding: 0 15px 15px 15px;
  }
}
.project-items-popup .popup-container .project-popup-content {
  padding: 15px;
}
.project-items-popup .popup-container .project-popup-content .popup-more-infos {
  margin-bottom: 15px;
  margin-top: -5px;
}
.project-items-popup .popup-container .project-popup-content .popup-more-infos p {
  line-height: 16px;
  font-size: .8rem;
}
.project-items-popup .popup-container .project-popup-content .popup-text {
  font-size: .8rem;
  line-height: 25px;
}
.img-project-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  width: 100%;
  z-index: 5;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}
@media (min-width: 576px) {
  .img-project-container {
    top: 150px;
  }
}
@media (min-width: 992px) {
  .img-project-container {
    top: 160px;
  }
}
.img-project-container .img-project {
  width: 300px;
  margin: 0 auto;
  border: 3px solid white;
}
@media (min-width: 576px) {
  .img-project-container .img-project {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .img-project-container .img-project {
    width: 700px;
  }
}
.img-project-container .img-project img {
  width: 100%;
}
.img-project-container .img-project .project-title {
  font-size: 1.5rem;
  margin: 10px 0;
}
.img-project-container .img-project .project-infos {
  font-size: .8rem;
  margin-top: 5px;
}
.project-content {
  margin-top: 150px;
  padding: 50px 10px;
}
@media (min-width: 992px) {
  .project-content {
    margin-top: 220px;
  }
}
.project-content .project-type {
  margin-bottom: 30px;
}
.project-content .project-content-text {
  text-align: justify;
  line-height: 30px;
  margin-bottom: 30px;
}
.project-content .project-content-code {
  margin-bottom: 30px;
}
.promo {
  padding: 0 1rem;
  background-color: #e8e8e8;
}
.promo .promo-container {
  padding: 20px 20px 0 20px;
}
.promo .promo-container .promo-logo {
  width: 50%;
}
.promo .promo-container .promo-title {
  font-size: 1rem;
}
.promo .promo-img {
  width: 50%;
  display: inline-block;
}
.techno {
  padding: 80px 0 ;
}
.techno .techno-title {
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 23px;
}
.techno .carousel-container .techno-carousel img {
  margin: 0 5px;
  height: 100% !important;
}
@media (min-width: 576px) {
  .techno .carousel-container {
    padding: 30px 0 ;
  }
}
.slick-slide {
  min-height: 100% !important;
}
.fabrice-header {
  margin-top: 60px;
  padding: 40px 0;
  border-bottom: 1px solid #dbdbdb;
}
.fabrice-header .fabrice-header-container {
  width: 100%;
  text-align: center;
}
.fabrice-header .fabrice-header-container img {
  width: 130px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 685px) {
  .fabrice-header .fabrice-header-container img {
    display: inline-block;
    margin-right: 35px;
  }
}
.fabrice-header .fabrice-header-container .header-content {
  padding: 0 10px;
}
.fabrice-header .fabrice-header-container .header-content h1 {
  display: inline-block;
  padding: 10px 0;
  font-size: 26px;
}
@media (min-width: 992px) {
  .fabrice-header .fabrice-header-container .header-content h1 {
    font-size: 46px;
  }
}
.fabrice-header .fabrice-header-container .header-content p {
  text-align: justify;
  text-align-last: left;
  line-height: 25px;
}
@media (min-width: 685px) {
  .fabrice-header .fabrice-header-container .header-content p {
    line-height: 20px;
    font-size: 14px;
  }
}
@media (min-width: 685px) {
  .fabrice-header .fabrice-header-container .header-content {
    padding: 0 10px;
    width: 74%;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .fabrice-header .fabrice-header-container .header-content {
    width: 82%;
  }
}
@media (min-width: 685px) {
  .fabrice-header .fabrice-header-container {
    text-align: left;
    padding: 0 16px;
  }
}
@media (min-width: 685px) {
  .fabrice-header {
    margin-top: 60px;
    padding: 90px 0;
  }
}
.fabrice-technos {
  padding: 40px 10px;
}
@media (min-width: 685px) {
  .fabrice-technos {
    padding: 70px 10px 20px 10px;
  }
}
.fabrice-technos .fabrice-technos-title {
  font-size: 23px;
  margin-bottom: 65px;
}
.fabrice-technos .technos-back-end {
  margin-bottom: 60px;
}
.fabrice-technos .technos-back-end .back-end-title {
  font-size: 15px;
  color: #808080;
  margin-bottom: 10px;
}
.fabrice-technos .technos-back-end .back-end-list .back-end-list-items {
  display: inline-block;
  margin: 0 5px;
}
.fabrice-technos .technos-back-end .back-end-list .back-end-list-items img {
  width: 50px;
}
.skills .skills-container {
  padding: 40px 10px;
}
@media (max-width: 575px) {
  .skills .skills-container {
    width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .skills .skills-container {
    padding: 40px 10px;
  }
}
.skills .skills-container .skills-title {
  font-size: 23px;
  margin-bottom: 40px;
}
.skills .skills-container .skills-block .skills-header {
  margin-bottom: 30px;
}
.skills .skills-container .skills-block .skills-header img {
  display: inline-block;
  width: 65px;
  height: 60px;
}
.skills .skills-container .skills-block .skills-header h4 {
  margin: 32px 0 0 5px;
  display: inline-block;
  vertical-align: top;
}
.skills .skills-container .skills-block .skills-list .skills-list-items {
  margin-bottom: 25px;
  list-style: none;
  font-size: 13px;
}
.skills .skills-container .skills-block .skills-list .skills-list-items div {
  height: 8px;
  width: 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: #494949;
  margin-right: 10px;
}
.fabrice-form {
  padding: 40px 10px;
}
.fabrice-form .form-title {
  font-size: 23px;
  margin-bottom: 40px;
}
.fabrice-form .form {
  width: 100%;
}
.fabrice-form .form .form-elements {
  width: 100%;
  margin-bottom: 30px;
}
.fabrice-form .form .form-elements label {
  display: block;
}
.fabrice-form .form .form-elements input,
.fabrice-form .form .form-elements textarea {
  display: block;
  width: 100%;
  border-bottom: 1px solid #8e8e8e;
  border-top: none;
  border-right: none;
  border-left: none;
}
.fabrice-form .form .form-elements textarea {
  height: 200px;
  background-color: #f7f7f7;
}
.fabrice-form .form .form-elements:nth-child(3) label {
  margin-bottom: 5px;
}
.fabrice-form .form button {
  padding: 7px 10px;
  background-color: #494949;
  color: white;
  font-size: 13px;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
}
.fabrice-form .form button:hover {
  background-color: white;
  color: #494949;
  border: solid 1px #494949;
  transition: .5s;
}
/* state */
.project-visible {
  display: inline-block !important;
  position: absolute;
}
.hide-visible {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.is-translating.project-items-title {
  color: white !important;
  transform: translate(0px, -75px);
  transition-duration: .25s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 0 20px 8px 0;
}
.is-translating.project-items-category {
  color: white !important;
  transform: translate(0px, -55px);
  transition-duration: .25s;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-delay: .25s;
}
.is-translating.project-items-img {
  filter: brightness(50%);
  transition: .5s;
}
.one-project > .parallax-mirror img {
  filter: blur(10px);
}
.index > .parallax-mirror:nth-child(2) img {
  filter: blur(5px);
}
